.wrapper {
	display: flex;
	align-items: stretch
}

.main {
	background-color: #f1f4f7;
	height: 92vh;
	width: 100%;
	overflow: auto;
}

@media (max-width: 768px) {
	.wrapper {
		flex-direction: column
	}
}
